@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, #root{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    --rojo: #ef3741;
    --amarillo: #faa21b;
    --morado: #592c80;
    --azul-opacio: #415369;
    --verde: #4cab52;
    --azul: #0083ff;
    position: relative;
    overflow-x: hidden;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main{
    margin-top: 110px;
    margin-left: 350px;
    width: 100dvw;
    min-height: calc(100dvh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1{
        border-radius: 15px;
        background-color: var(--rojo);
        color: #fff;
        padding: 10px 20px;
        font-size: 2rem;
        font-weight: bold;
    }

    & section{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    &#layout {
        position: absolute;
        top: 0;
        left: 0;
        max-width: calc(100vw - 350px);
        padding-bottom: 10px;
    }
}
header{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    top: 0;
    left: 0;;
    width: 100%;
    z-index: 10;
    padding-inline: 1rem;
    gap: 1rem;
    background: var(--amarillo);
    & *{
        height: 100%;
    }
    & #title {
        position: absolute;
        top: 0;
        left: 0;
        height: 90%;
        max-width: max-content;
        background: var(--azul-opacio);
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-bottom-right-radius: 25px;
        & h1{
            font-size: 2rem;
            color: #fff;
            margin: 0;
            vertical-align: middle;
            height: min-content;
        }
        & .logo{
            height: auto;
            max-height: 80%;
            width: auto;
        }
    }
    & nav{
        display: flex;
        justify-content: center;
        align-items: center;
        & a{
            text-decoration: none;
            color: #000;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 10px;
        }
    }
    & p{
        height: min-content;
        font-weight: bold;
    }
    & .logo{
        height: auto;
        max-height: 80%;
        width: auto;
    }
}

aside{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100dvh - 100px);
    width: 350px;
    position: fixed;
    margin-top:100px;
    background: #fff;
    border-right: 1px solid #e2e2e2;
    & h2 {
        width: 100%;
    }
    & h2 a{
        padding-inline: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right:0px; /* Set to 0 if you don't want shadow at the right side */
        margin-left:0px; /* Set to 20px if you want shadow at the left side */
        margin-top:0px; /* Set to 20px if you want shadow at the top side */
        margin-bottom:10px; /* Set to 20px if you want shadow at the bottom side */
        box-shadow: 0px 0px 10px black; 
        border-bottom: 2px solid #be76ac;
        & img{
            height: 50px;
            width: auto;
        }
    }

    & #nav-options{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 1rem;

        & a, button{
            text-decoration: none;
            color: #000;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 10px;
            padding: 10px;
            border-radius: 5px;
            text-align: left;
            transition: all 0.3s;
            &:hover{
                background: #e2e2e2;
            }
        }
    }
}

.anti-shadow-div{
    display:table;
    overflow:hidden;
    min-width: max-content;
    width: 100%;
}

label{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
    & .input-row{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        & input{
            width: 100%;
            padding: 10px;
            border: 1px solid #000;
            border-radius: 5px;
            height: 40px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-size: 1rem;
        }
        & .icon{
            height: 40px;
            width: auto;
            border-radius: 5px;
            border: 1px solid #000;
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        & button {
            height: 40px;
            width: 40px;
            border: 1px solid #000;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            cursor: pointer;
            border-left: none;

            & .icon{
                width: 100%;
                height: auto;
                border: none;
                border-radius: 0;
            }
        }
    }
}

.button{
    background-color: var(--morado);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    /*Espaciado entre letras*/
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.button.cancel{
    background-color: var(--rojo);
}

.button:hover{
    scale: 1.01;
}

.button:active{
    scale: 0.99;
}

search#search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    & input{
        width: 100%;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        height: 40px;
        font-size: 1rem;
        border-radius: 0;
    }
    & button{
        height: 40px;
        width: 40px;
        border: 1px solid #000;
        border-radius: 5px;
        cursor: pointer;
        border-left: none;
        padding: 0.3rem;
        &#filters{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-right: none;
            border-left: 1px solid #000;
        }

        &#search-button{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            
        }
    }
    #filtros{
        position: absolute;
        top: calc(-100% + 80px);
        left: 0;
        flex-direction: column;
        width: max-content;
        z-index: 2;
        background-color: white;
        & .filtro{
            width: 100%;
            border-radius: 0;
            border: 1px solid #000;
            background: #fff;
            font-size: 1rem;
        }

        & .filtro:last-child{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        & .filtro:hover{
            background: #e2e2e2;
        }
    }
}

#resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    z-index: 1;
    & .resultado{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.3rem;
        padding: 1rem;
        border: 1px solid #000;
        position: relative;
        border-radius: 5px;
        & h2{
            font-size: 1.5rem;
            font-weight: bold;
        }
        & p{
            font-size: 1rem;
        }
        & .operation-buttons{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.1rem;
            top: 5px;
            right: 5px;
    
            & button{
                height: 40px;
                width: 40px;
                border-radius: 5px;
                cursor: pointer;
                padding: 0.3rem;
                & img{
                    width: 100%;
                    height: auto;
                    border: none;
                    border-radius: 0;
                    filter: invert(1);
                }
    
                &.editar{
                    background: var(--azul);
                }
    
                &.eliminar{
                    background: var(--rojo);
                }

                &.seleccionar{
                    background: var(--verde);
                }
            }
        }
    }
}

.item-seleccionado{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3rem;
    padding: 1rem;
    border: 1px solid #000;
    position: relative;
    border-radius: 5px;
    margin-top: 1rem;
    & h2{
        font-size: 1.5rem;
        font-weight: bold;
    }
}

@media (max-width: 768px){
    body, #root{
        justify-content: center;
    }
    aside{
        background-color: white;
        z-index: 20;
        transform: translateX(-200%);
        transition: transform 0.3s ease-in-out;
        width: 100%;
        &.active{
            transform: translateX(0);
        }
    }
    main{
        margin-left: 0;
        width: 90dvw;
        max-width: 90dvw;
        position: relative;
        &#layout{
            width: 90dvw;
            max-width: 90dvw;
            left: auto;
            & section{
                width: 100%;
                max-width: 100%;
            }
        }
    }
    header{
        & #title{
            & h1{
                display: none;
            }
        }

        & p{
            & #matricula{
                display: none;
            }
        }
    }
    
    
}